@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.contact-header {
  padding-bottom: 240px;

  @media all and (max-width: $screen-sm-min) {
    padding-bottom: 80px;
  }

}

.contact-content {
  margin-top: 0;
  transform: translateY(-160px);
  margin-bottom: -160px;

  @media all and (max-width: $screen-sm-min) {
    margin-top: 20px;
    transform: translateY(0);
    margin-bottom: 0;
  }

}

.newsletters-signup-container {
  position: relative;
  border-radius: $border-radius-large;
  box-shadow: 0 2px 4px $dropdown-filter-border-color;
  background: $color-white;
  width: 100%;
  height: 320px;
  margin-bottom: 50px;
  overflow: hidden;

  h1 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;

    @media all and (max-width: $screen-md-min) {
      font-size: 1.5em;
    }

  }

  .thanks-subscribing {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 1.2em;
    background: $body-bg;
    border-radius: $border-radius-large;
  }

  .newsletter-signup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-white;
    padding: 40px 200px;
    overflow: hidden;
    transition: .4s cubic-bezier(0, 0, 0, 1);

    .newsletter-form-content {
      width: 100%;

      // Marketo form

      .mktoAsterix,
      .mktoLabel {
        display: none !important;
      }

      .mktoForm {
        width: 100% !important;
        height: 46px !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: inherit !important;
        font-size: 16px !important;
        margin-top: 30px !important;
        padding: 0 !important;
        color: rgb(51, 51, 51);

        .mktoFormRow {
          order: 100;

          .mktoLogicalField {
            width: 100% !important;
            margin-top: 20px !important;
            font-size: 14px;
          }

        }

        .mktoFormRow:nth-child(2) {
          order: 1;
          max-width: calc(100% - 140px);
          width: 100% !important;
          margin-bottom: 0 !important;
          height: 100% !important;
          margin-right: 20px !important;

          @media all and (max-width: $screen-sm-min) {
            margin-right: 0 !important;
            max-width: 100%;
          }

        }

        @media all and (max-width: $screen-sm-min) {
          flex-wrap: wrap;
          margin-top: 30px !important;
          height: 100% !important;
        }

      }

      .mktoButtonRow {
        height: 100% !important;
        order: 2;

        @media all and (max-width: $screen-sm-min) {
          width: 100% !important;
          margin-top: 10px !important;
        }

      }

      .mktoFormRow {
        margin-bottom: 0 !important;

        @media all and (max-width: $screen-sm-min) {
          margin-bottom: 10px !important;
        }

      }

      .mktoFormCol {
        width: 100% !important;
        height: 100% !important;
        margin-bottom: 0 !important;
      }

      .mktoButtonWrap {
        margin: 0 !important;
        height: 100% !important;
      }

      .mktoGutter,
      .mktoOffset {
        width: 0 !important;
      }

      .mktoEmailField {
        width: 100% !important;
      }

      .mktoField,
      .mktoFieldWrap {
        width: 100% !important;
        height: 100% !important;
      }

      .mktoForm input[type=text],
      .mktoForm input[type=url],
      .mktoForm input[type=email],
      .mktoForm input[type=tel],
      .mktoForm input[type=number],
      .mktoForm input[type=date],
      .mktoForm select.mktoField,
      .mktoForm textarea.mktoField {
        font-family: inherit !important;
        -webkit-appearance: none !important;
        background-color: $body-bg !important;
        box-shadow: none !important;
        padding: 12px 16px !important;
        border: 1px solid $color-gray-extra-light !important;
        border-radius: $border-radius-large !important;
        width: 100% !important;
        height: 100% !important;
      }

      .mktoForm input[type=text]:focus,
      .mktoForm input[type=url]:focus,
      .mktoForm input[type=email]:focus,
      .mktoForm input[type=tel]:focus,
      .mktoForm textarea.mktoField:focus {
        border: 1px solid $color-gray-light !important;
      }

      .mktoField,
      .mktoButton {
        width: 100% !important;
        height: 100% !important;
      }

      .mktoButton {
        height: 100% !important;
        white-space: nowrap !important;
        background-color: $color-primary !important;
        background-image: none !important;
        border: none !important;
        border-bottom: none !important;
        color: $color-white !important;
        padding: 12px 24px !important;
        font: inherit !important;
        font-family: inherit !important;
        text-shadow: none !important;

        @media all and (max-width: $screen-sm-min) {
          width: 100% !important;
        }

      }

      .mktoButton:hover {
        opacity: .8 !important;
      }

      .hint-message {
        color: $color-gray-light;
        margin-top: 60px;
        margin-bottom: 0;

        @media all and (max-width: $screen-md-min) {
          margin-top: 0;
          margin-bottom: 10px;
        }

      }

      .switch-forms {
        margin: 0;
        margin-top: 60px;
        font-weight: 600;
        color: $color-primary-alt;
        cursor: pointer;
        padding: 10px;

        @media all and (max-width: $screen-sm-min) {
          margin-top: 0;
        }

      }

      p:last-child:hover {
        opacity: .8;
      }

    }

    @media all and (max-width: $screen-md-min) {
      padding: 40px 100px;
    }

    @media all and (max-width: $screen-sm-min) {
      padding: 40px;
    }

  }

  @media all and (max-width: $screen-lg-min) {
    margin-bottom: 20px;
  }

  @media all and (max-width: $screen-sm-min) {
    height: 400px;
  }

}
