@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "mixins/underline";
$distros-size: 6;

$padding-small: 20px;
$padding-medium: 40px;
$padding-large: 80px;

body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.dots {
  flex-grow: 1;
  border-bottom: 2px dotted $border-color;
  margin: 0 $padding-small;
  height: 0;
}

.method-content {
  max-width: 970px;
  margin: 0 auto $padding-large;
}

.method {
  + .method {
    border-top: solid 1px $color-gray-medium;
    padding-top: $padding-medium;
    margin-top: $padding-large;
  }

  .block-title {
    text-align: center;
    margin: $padding-medium 0;
    color: $color-primary-alt;
  }

  p {
    color: $text-color-light;
    font-size: 16px;
    line-height: 1.6;

    a:not(.btn) {
      color: $text-color-light;
      text-decoration: underline;
    }

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  svg {
    fill: currentColor;
  }

  &.upgrade {
    text-align: center;

    p {
      font-size: 22px;
      margin-bottom: 30px;

      &:last-child,
      .cta-btn {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

.flex-tile-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: $padding-medium;

  @media (min-width: $screen-sm-min) {
    margin-left: -10px;
    margin-right: -$padding-small; // offset for items on right side
  }

  > li:not(.no-tile) {
    background-color: $color-white;
    border: solid 1px $color-gray-medium;
    list-style: none;
    display: flex;
    flex: 0 0 calc(100% - 20px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $padding-small;
    margin: 0 ($padding-small / 2) $padding-small;
    border-radius: 2px;

    @media (min-width: $screen-sm-min) {
      flex: 0 0 calc(33% - 20px);
    }

    a {
      width: 100%;

      &:hover,
      &:focus {
        color: $color-primary-alt;
      }
    }

    &.is-active {
      border-color: $color-primary;
    }

    &.distro-content {
      flex: 0 0 100%;
      max-width: calc(100% - 20px);
      align-items: flex-start;
      padding: 20px;
      text-align: left;

      @media (min-width: $screen-sm-min) {
        max-width: calc(100% - 30px);
      }

      @media (min-width: $screen-md-min) {
        padding: 40px 80px;
      }
    }
  }

  .no-tile {
    width: 100%;
  }
}

.tile-image {
  margin: 0 auto $padding-small;
  color: $text-color-light;
  filter: grayscale(100%);

  &,
  svg {
    height: 52px;
    max-width: 100%;
    width: 200px;
  }
}

.tile-title {
  color: $color-primary-alt;
  font-size: 20px;
}

.light {
  color: $color-gray;
}

@for $i from 1 through $distros-size {
  .distro-tile-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: ceil($i / 3);
    }
  }

  .distro-content-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: (ceil($i / 3)) + 1;
    }
  }
}

.distro-content {
  h4 {
    margin-top: 0;
    margin-bottom: 15px;
    color: $text-color-light;
    font-size: 20px;
    font-weight: 600;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  > p {
    margin-bottom: 20px;
    color: $text-color-light;
    font-size: 14px;
  }

  .display-extra-links {
    margin-top: 30px;

    li {
      display: inline-block;
      font-size: 0;

      &:not(:last-child) {
        position: relative;
        padding-right: 5px;
        margin-right: 5px;

        // scss-lint:disable NestingDepth
        &::before {
          content: "";
          position: absolute;
          right: -3px;
          top: 15%;
          width: 1px;
          height: 70%;
          background-color: $color-primary-alt;
        }
        // scss-lint:enable NestingDepth
      }

      a {
        @include underlined-link($color-primary-alt, $color-secondary);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.latest-version {
  .block-title {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 45px;
    font-size: 22px;
  }
}

.command {
  width: 100%;
  margin-bottom: 20px;
  color: $text-color-light;
  font-size: 14px;
  line-height: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-line;
}

.edition-picker {
  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  a {
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  .is-active {
    font-weight: 600;

    &:hover::after {
      background-color: $color-primary-alt;
    }
  }

  .is-active,
  a:hover {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      right: 0;
      height: 2px;
      background-color: $color-primary;
    }
  }
}

.about-ce {

  ol {
    list-style-type: decimal;
  }

  li {
    list-style-type: decimal;
  }

}
