@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

h1 {
  font-weight: 600;
  font-size: 42px;
}

h2 {
  font-weight: 600;
  margin-top: 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.content-container {
  padding: 100px 240px;
  width: 100%;
  max-width: 1440px;
  margin: auto;

  .cta-tile {

    .tile-logo {
      height: 50px;
      margin-right: 30px;

      @media screen and (max-width: $screen-sm-min) {
        margin-right: 0;
        margin-bottom: 30px;
      }

    }

    @media screen and (max-width: $screen-sm-min) {
      flex-direction: column;
    }

  }

  .tweets {

    h2 {
      margin-bottom: 20px;
    }

  }

  iframe {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 20px;
    height: 540px;
    border: 0;
    box-shadow: 0 2px 4px $color-transparent-alt;
  }

  div:not(:first-child) {
    margin-top: 100px;

    @media screen and (max-width: $screen-sm-min) {
      margin-top: 50px;
    }

  }

  @media screen and (max-width: $screen-md-min) {
    padding: 50px 100px;
  }

  @media screen and (max-width: $screen-sm-min) {
    padding: 40px 20px;
  }

}

.blank-header {
  width: 100%;
  background: $color-primary;
  padding: 100px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  .github-importer {
    height: 60px;
    margin-bottom: 40px;
  }

  .image-border {
    position: absolute;
    top: 0;
    opacity: .15;
    height: 100%;

    @media screen and (max-width: $screen-sm-min) {
      display: none;
    }

  }

  .image-left {
    left: 0;
  }

  .image-right {
    right: 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    max-width: 640px;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 400;
    padding: 4px 30px;
    font-size: 18px;
  }

  h1 {
    color: $color-white;
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    color: $color-transparent-white-alt;
    font-size: 20px;
  }

}
