---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab Merge Requests vs. GitHub Pull Requests | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_merge_requests_vs_github_pull_requests, product_one: competitors.gitlab_merge_requests, product_two: competitors.github_pull_requests, key_one: :gitlab_merge_requests, key_two: :github_pull_requests }
