---
layout: default
title: GitLab 101 for Resellers Webcast
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Reseller Sales Enablement Session 
        %h2.page-subtitle Update on GitLab Messaging

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 April 23rd, 7pm PT or April 24th, 7am PT
            %p Join us to learn more about GitLab, the first single application to manage all stages of the DevOps livecycle. Hear how GitLab can help development teams take an idea all the way through to production. Team members from product development, QA, security and operations can now work concurrently in the same application without having to integrate and sync tools or wait for handoffs.

          .content-section
            %h3 In this webcast, we'll cover:
            %ul
              %li Learn about Concurrent DevOps and how it reduces cycle time
              %li Hear about the latest GitLab release and new features
              %li Watch GitLab's latest demo
              
        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1577
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1577, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
